
.title-bar {
    /* Pink */
    /* background: hotpink !important; */
    
    /* Pink gradient */
    background: linear-gradient(90deg, #ff69b4, #ffb6c1) !important;
}

.window {
    height: calc(100vh - 20px) !important;
}

menu[role="tablist"] li a {
    font-size: 18px;
}

p {
    font-size: 17px !important;
}

#me {
    width: 350px; 
    height: auto; 
}

#flex {
    display: flex;
    align-items: flex-start;
    margin: 15px 0;
    gap: 25px; 
}
